/plat-app/node_modules
/plat-app/public/hot
/plat-app/public/storage
/plat-app/storage/*.key
/plat-app/vendor
plat-app/.env
plat-app/.env.backup
plat-app/.phpunit.result.cache
plat-app/docker-compose.override.yml
plat-app/Homestead.json
plat-app/Homestead.yaml
plat-app/npm-debug.log
plat-app/yarn-error.log
/plat-app/.idea
/plat-app/.vscode
plat-app/.idea
plat-app/*.iml
plat-app/forlocal
plat-sc/payments/target/*
plat-sc/plats-token/target/*
.phpunit.result.cache
.vscode
