.form-group {
    &.has-error{
        margin-bottom: 5px;
    }
}

.help-block-error {
    color: #F64E60;
    &:empty {
        display: none !important;
    }
    .has-error & {
        display: inline-block !important;;
    }
}
