@import "../var";
@import "../mixins";

$input-bg: #fff;
$input-color: #000;
$input-placeholder-color:#6c757d;

body {
    background-image: image-url('bg_login.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.auth-container {
}

.register_form {
    .form-check {
    }

    .form-check-input {
        width: 30px;
        height: 30px;
    }

    .form-check-label {
        line-height: 40px;
        margin-left: 6px;
        cursor: pointer;
    }
}

.form-control {
    background-color: $input-bg;
    border-radius: 0;
    color: $input-color;

    &:disabled, &[readonly], &:focus {
        background-color: $input-bg;
        color: $input-color;
    }

    &::placeholder {
        color: $input-placeholder-color;
    }
}

.form-check-input {
    background-color: $input-bg;
}
