@import "../var";
@import "../mixins";
@import "../breakpoints";

.create_new_game {
    .box-upload {
        background: #250D2D  image-url('bg_concentric_circle.svg') no-repeat center center;
        background-size: 90%;
        border: 1px solid #258DFA;
        border-radius: 9px;
        height: 100%;
        display: flex;
        justify-content: center;

        input[type="file"] {
            visibility: hidden;
            height: 0;
            width: 0;
        }
    }
    .upload-thumb {
        position: relative;
        label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .upload-file {
        height: 210px;
    }
}

@include media-breakpoint-down(md) {
    .create_new_game {
        .upload-thumb {
            width: 100%;
            height: 100%;
        }
    }
}
