@import "../var";
@import "../mixins";

#reward {
    .row {
        margin: 10px 0;
    }

    .cup-icon {
        margin: 0 10px;
        width: 40px;
        height: 40px;
    }

    .box {
        border: 1px solid #4a3a59;
        padding: 4px 10px;
        background: white;
        color: #4a3a59;
        border-radius: 5px;
    }

    .earned {
        width: auto;
    }
}
