.btn-inner-glow {
    background: #0067C6;
    mix-blend-mode: normal;
    opacity: 0.88;
    border: 1px solid rgba(255, 255, 255, 0.36);
    box-sizing: border-box;
    box-shadow: inset 0px 1px 19px #8BEAFF;
    border-radius: 9px;
}
