.table-flat {
    th, td, a {
        color: #fff;
        border-right: 1px solid rgba(202, 193, 205, .3); //#CAC1CD
    }

    > thead {
        th {
            text-align: center;
        }
    }

    > tbody {
        > tr {
            &:nth-of-type(2n+1) {
                > * {
                    color: #fff;
                    background-color: rgba(71, 156, 246, 0.75);
                }
            }
        }

        td, th {
            vertical-align: middle;
        }
    }
}
