@import "./var";

@import "~@fontsource/nunito-sans/scss/mixins";
$fontId: "nunito-sans";
$defSubset: "latin";
$includeFonts: (200 : (italic, normal), 300: (italic, normal), 600: (italic, normal), 700: (italic, normal));
@each $weight, $styles in $includeFonts {
    @each $style in $styles {
        @include fontFaceCustom(
            $weight: $weight,
            $display: fallback,
            $style:$style,
            $woff2Path: "#{$font-path}/#{$fontId}-#{$defSubset}-#{$weight}-#{$style}.woff2",
            $woffPath: "#{$fontDir}/#{$fontId}-#{$defSubset}-#{$weight}-#{$style}.woff",
        );
    }
}
