@import "../var";

header {
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.23));

    .menu-header {
        .menu-item {
            margin-right: 3rem;
            &:last-child {
                margin-right: 0;
            }
        }
        .menu-link {
            color: $white;
            font-weight: 700;
            font-size: 18px;
            padding: 5px 20px;

            &.active, &:hover {
                color: $cyan-blue-500;
                background: $white;
                border-radius: 20px;
            }
        }
    }
}
header {
    background: image-url('bg_header.png');
}
@include media-breakpoint-down(md) {
    header {
        .menu-header {
            .menu-item {
                margin-right: 1rem;
            }
            .menu-link {
                padding: 5px 8px;
            }
        }
    }
}
