.total-earned-token{
    background: rgba(61, 36, 97, 0.97);
    border-radius: 23px;
    padding: 25px 45px;
    position: relative;
    z-index: 0;
    .title{
        font-size: 30px;
        color: #fff;
        margin-bottom: 0;
    }
    .box-token{
        padding: 30px 70px;
        background: rgba(60, 35, 95, 0.88);
        border: 1px solid rgba(233, 223, 238, 0.33);
        box-shadow: inset 0px 1px 19px #BB86FF;
        border-radius: 9px;
        position: absolute;
        z-index: 1;
        top: -20px;
        right: 25px;
    }
}
