.table {
    tr {

        td,
        th {
            text-align: center;
            background: #4A3A59;
            color: #fff;
            padding: 15px;
            border: 1px solid rgba(233, 223, 238, 0.3);
        }

        th {

            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            padding: 15px;
        }

        &:nth-child(2n+1) {
            td {
                background: #715B85;
            }
            .deny{
                background: #4A3A59;
                &:hover{
                    background: #715B85;
                    transition: 0.3s;
                }
            }

        }
        &:nth-child(2n) {

            .deny{
                background: #715B85;
                &:hover{
                    background: #4A3A59;
                    transition: 0.3s;
                }
            }

        }

    }

    .options{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .push{
            display: block;
            background: #DC207B;
            padding: 5px 20px;
            border-radius: 3px;
            color: #fff;
            &:hover{
                color: #DC207B;
                background: #fff;
                transition: 0.3s;
            }
        }
    }
    .acept-denny{
        display: flex;
        align-items: center;
        .deny{
            border-radius: 3px;
            padding: 5px 20px;
            color: #fff;
            background: #4A3A59;
        }
    }

}
